@page
@model Istoc_Oana_Lab2.Pages.Books.CreateModel
@using Istoc_Oana_Lab2.Models

<h1>Create a Book</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="Book.Title"></label>
        <input asp-for="Book.Title" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Book.Price"></label>
        <input asp-for="Book.Price" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Book.AuthorID">Author</label>
        <select asp-for="Book.AuthorID" asp-items="new SelectList(Model.Authors, nameof(Author.ID), nameof(Author.FirstName))"></select>
    </div>

    <div class="form-group">
        <label asp-for="Book.PublisherID">Publisher</label>
        <select asp-for="Book.PublisherID" asp-items="new SelectList(Model.Publishers, nameof(Publisher.ID), nameof(Publisher.PublisherName))"></select>
    </div>


    <div class="form-group">
        <label asp-for="Book.PublishingDate"></label>
        <input asp-for="Book.PublishingDate" class="form-control" />
    </div>

    <div class="form-group">
        <label>Categories:</label>
        @foreach (var category in Model.Categories)
        {
            <div>
                <input type="checkbox" id="Category_@category.CategoryID" name="selectedCategories" value="@category.CategoryID">
                <label for="Category_@category.CategoryID">@category.CategoryName</label>
            </div>
        }
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-page="Index">Back to List</a>
</div>
